/* Put your CSS code in the left column, instead of example, to put or remove unnecessary prefixes. */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  min-width: 768px;
}

.big-container {
  position: relative;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.inner-page .big-container {
  padding-bottom: 120px;
  -webkit-box-shadow: 0 -5px 10px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -5px 10px 2px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* ----------------------- header ---------------------- */

.main-header {
  width: 100%;
  position: relative;
}

.main-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.main-navigation {
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
  }

  .main-header ul {
    list-style: none;
  }

  .main-navigation a {
    color: #000000;
  }

.main-navigation a:hover,
.choise-list a h2:hover {
  color: #81b3d2;
}

.main-navigation a:active,
.choise-list a h2:active {
  color: #000000;
  opacity: 0.3;
}

.main-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu li {
  padding-top: 15px;
  padding-bottom: 16px;
  width: 20%;
}

.main-menu li:nth-child(3) {
  margin-left: 20%;
}

/* ----------------------- main ---------------------- */

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background-sedona-text {
  margin-bottom: 116px;
}

.sedona-info {
  width: 100%;
  height: 721px;
  background-image:
  url("../img/png-sedona/white-book.png"),
  url("../img/jpg-sedona/sedona-index/background-welcome.jpg");
  background-color: #81b3d2;
  background-position: bottom, center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.sedona-info h1 {
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  color: #000000;
  text-align: center;
  margin-bottom: 28px;
}

.five-reasons {
  color: #333333;
  text-align: center;
  margin-bottom: 50px;
}

.reasons-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reasons-list p,
.just-reason-list p  {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.formght {
  height:78px;
}

.reason-1,
.reason-2 {
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reason-text {
  width: 34%;
  min-height: 210px;
  padding-top: 45px;
  background-color: #82b3d2;
  color: #ffffff;
}

.reason-text p {
  margin-bottom: 20px;
}

.reason-text h2 {
  margin-top: 0;
  line-height: 24px;
}

.pictures {
  width: 66%;
  margin: 0;
  padding: 0;
  height: 255px;
  overflow: hidden;
  background-color: #81b3d2;
  background-repeat: no-repeat;


}

.pictures-1 {
  background-image: url("../img/jpg-sedona/sedona-index/picture-reason-1.jpg");
  background-position: center;
  background-size: cover;
}

.pictures-2 {
  background-image: url("../img/jpg-sedona/sedona-index/picture-reason-2.jpg");
  background-position: 0 0;
  background-size: cover;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.just-reason-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 60px;
  padding-bottom: 85px;
}

.just-reason-list li {
  width: 33%;
}

.just-reason-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reason-svg {
  height: 76px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-bottom: 30px;
}

.just-reason-item p {
  margin: 0;
  vertical-align: bottom;
}

.reason-item-list h2,
.just-reason-list h2  {
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}


.reason-item-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 30px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #eeeeee;
}

.reason-item {
  width: 33%;
  text-align: center;
}

.reason-item p {
  margin: 0;
  margin-bottom: 28px;
  line-height: 21px;
}


.search-wrapper {
  position: relative;
}

.interesting {
  overflow: hidden;
}

.interesting h3 {
  margin-top: 53px;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.interesting p {
  margin-top: 0;
  margin-bottom: 140px;
}

.interesting iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
}

.search {
  width: 558px;
  position: absolute;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  left: 50%;
  top: 213px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

}

.search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 458px;
  margin: 50px;
}

.ckick-clack {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 558px;
  margin: -1px;
  padding: 0;
  border: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/*
.search-checkbox:checked + form {
  position: absolute;
  width: 458px;
  height: 1px;
  opacity: 0;
  transition-duration: 1s;
  animation-timing-function: ease-in;
}
*/

.search div + div {
  margin-bottom: 35px;
}
.date-in {
  margin-bottom: 35px;
}

.search-checkbox {
  position: absolute;
  top: -40px;
}

.search-title {
  padding: 30px 30px;
  display: block;
  margin: 0;
  background-color: #766357;
}

.search-title span {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

.search-title:hover {
  background-color: #604e43;
}

.search-title:active {
  background-color: #503e33;
}

.search-title:active span {
  color: #857871;
}


.search label {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.date-in,
.date-out {
  display: inline-block;
  position: relative;
  width: 458px;
}

.date-in label,
.date-out label {
  padding-top: 4px;
  float: left;
}

.date-in input,
.date-out input {
  float: right;
}

.grownup {
  width: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.children {
  width: 190px;
  padding-left: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .date-in input,
.search .date-out input,
.search .grownup input,
.search .children input {
  width: 330px;
  height: 30px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 10px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  outline: none;
  border: 1px solid #f2f2f2;
}

.search input:hover {
  background-color: #ebebeb;
  outline: none;
}

.search input:focus {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  outline: none;
}

.search .grownup input,
.search .children input {
  padding: 0;
  width: 37px;
  height: 37px;
  border: none;
  text-align: center;
}

.minus {
  margin-left: auto;
}

.minus,
.plus {
  padding: 0;
  width: 37px;
  height: 37px;
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 24px;
  color: #a9a9a9;
}

.minus:hover,
.plus:hover {
  color: #000000;
  outline: inherit;
}

.minus:active,
.plus:active {
  color: #81b3d2;
}

.search-button {
  margin-top: 24px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 460px;
  height: 60px;
  border: 1px solid #81b3d2;
}

.date-in input + .icon-calendar,
.date-out input + .icon-calendar {
  position: absolute;
  width: 21px;
  height: 22px;
  top: 5px;
  left: 430px;
  fill: #a9a9a9;
}

.date-in input + .icon-calendar:hover,
.date-out input + .icon-calendar:hover {
  fill: #000000;
}

.date-in input + .icon-calendar:active,
.date-out input + .icon-calendar:active {
  fill: #81b3d2;
}

/* ---------------------- catalog ---------------------------*/

.main-menu-current {
  color: #766357;
}

.filters {
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/jpg-sedona/sedona-catalog/catalog-filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filters ul {
  list-style: none;
  font-weight: 400;
}

.filters input[type="submit"] {
  margin-top: 30px;
  font-size: 14px;
  line-height: 21px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  text-transform: uppercase;
}

.filters input[type="submit"]:hover {
  color: #000000;
  background-color: #ffffff;
}

.filter {
  padding-left: 6%;
  padding-right: 6%;
  min-height: 210px;
}

.filter::after {
  content: " ";
  float: none;
  clear: both;
  display: block;
}

.filter fieldset {
  width: 25%;
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  float: left;
}

.filter fieldset:last-child {
  max-width: 48%;
  width: auto;
  float: right;
}

.filter legend {
  color: #ffffff;
  position: absolute;
  padding: 0;
  padding-top: 25px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  margin: 0;
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.infrastructure li + li,
.type-of-housing li + li {
  margin-top: 25px;
}

.filter-option {
  line-height: 21px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.filter-option label {
  cursor: pointer;
}

.filter-option input[type="checkbox"] {
  display: none;
}

.filter-option input[type="checkbox"] + label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg-sedona/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:checked + label span {
  background-image: url("../img/svg-sedona/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:disabled + label span {
  background-image: url("../img/svg-sedona/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:disabled:checked + label span {
  background-image: url("../img/svg-sedona/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:disabled:checked + label {
  color: #6a6a6a;
}

.full-price ul {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 0;
  width: 320px;
  min-height: 36px;
  height: 36px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-price ul:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  top: 6px;
  left: 50%;
}

.full-price .filter-option {
  padding: 0;
}

.full-price .price {
  border: none;
  cursor: pointer;
  width: 156px;
  height: 32px;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
}

.range-controls {
  margin-top: 20px;
  position: relative;
}

.range-controls .scale {
  max-width: 320px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.range-controls .bar {
  width: 75%;
  height: 2px;
  background-color: #ffffff;
}

.range {
  position: absolute;
  width: 20px;
  height: 23px;
  cursor: pointer;
  fill: #ababab;
  top: -10px;
}

.range:hover {
  fill: #000000;
}

.range-min {
  left: 0;
}

.range-max {
  left: 72%;
}

.sort-wrapper {
  width: 100%;
  min-height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 2px solid #e5e5e5;
}

.sort-wrapper ul {
  min-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  padding-left: 28px;
}

.sort b {
  margin: 0;
  padding-left: 70px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort .word  {
  margin: 0;
  padding-left: 38px;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sort .sort-current {
  color: #81b3d2;
}

.sort .sort-item a {
  color: #cacaca;
  border-bottom: 1px dashed rgba(129, 179, 210, 1);
}

.sort .sort-item a:hover {
  color: #81b3d2;
}

.sort .sort-item a:active {
  color: #000000;
  border-bottom: none;
}

.sort-button {
  margin-left: auto;
  margin-right: 70px;
}

.button-down {
  padding-left: 10px;
}

.button-up,
.button-down {
  fill: #cacaca;
}

.button-up:hover,
.button-down:hover {
  fill: #242021;
}

.button-current,
.button-up:active,
.button-down:active {
  fill: #82b3d2;
}

.choise-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.choise-list h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.choise {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.choise-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #e5e5e5;
}

.choise-item-more {
  width: 110px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #81b3d2;
}

.choise-item-more:hover {
  background-color: #669ec0;
}

.choise-item-more:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.choise-item-booking {
  width: 142px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #766357;
}

.choise-item-booking:hover {
  background-color: #604e43;
}

.choise-item-booking:active {
  background-color: #503e33;
  color: #857871;
}

.choise-wrapper {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  height: 90px;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choise-wrapper h2 {
  margin: 0;
}


.choise-wrapper-1 {
  width: 267px;
  height: 60px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choise-wrapper-1 p {
  margin: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.rating {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: 70px;
}

.rating-text {
  margin: 0;
  margin-top: 43px;
  display: block;
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #e5e5e5;
}

/* ----------------------- footer ---------------------- */

.main-footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visitsedona,
.footer-messengers,
.footer-copyright {
  width: 20%;
  vertical-align: middle;
  margin: auto;
}

.main-footer .visitsedona {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.footer-messengers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  padding: 0;
}

.messengers-button {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.search input[type="submit"],
.messengers-button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  fill: #ffffff;
}

.search input[type="submit"]:hover,
.messengers-button:hover {
  background-color: #669ec0;
}

.search input[type="submit"]:active,
.messengers-button:active {
  background-color: #5496bd;
  fill: #88b6d1;
  color: #88b6d1;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright svg {
  padding-left: 5px;
  width: 105px;
  fill: #000000;
}

.button-copyright svg:hover {
  fill: #88b7d4;
}

.button-copyright svg:active {
  fill: #bdbbbc;
}
